<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>


        let books;

        function esempioJquery()
        {
            //seleziono tutti gli elementi con classe paperino
            $('.paperino')
            //oppure mandiamo request
        }


        function init()
        {

            //fai una request con verbo get a /books
            //la response JSON viene presa, messa nel parametro resp
            //utilizzata per riempire la variabile books
            // poi la grafichiamo
            //la callback viene eseguita solo una volta che
            //arriva la response
            //il programma non non si ferma ad aspettare la response
            //continua ad essere eseguito
            //quando poi la response arriva esegue la callback
            $.getJSON('/books',(resp)=>
            {
                console.log('RESPONSE ARRIVATA,ESEGUO CALLBACK')
                books = resp;
                let lista = $('#libri');
                lista.empty();
                for(let b of books)
                    lista.append(`${b.title} autore: ${b.author} <br/><br/>`)
            });

        }



        function stampaBooks()
        {
            console.log(books);
        }

        function salvaPersona(event)
        {
            event.preventDefault();//con questo annullo il comportamento
            //standard del submit, cioè il mandare la request

            let nuovoLibro =
            {
                title:$('#title').val(),
                author:$('#author').val(),
                genre:$('#genre').val(),
            }
            let jsonLibro = JSON.stringify(nuovoLibro);//trasforma oggetto in json
            console.log(jsonLibro)

            //manda una request
            $.ajax(
                {
                    url:'/books',//localhost:8080/books
                    method:'POST',
                    data:jsonLibro,
                    contentType:'application/json',
                    //la callback
                    success:()=>{
                        //pulisco form
                        $('#title').val('')
                        $('#author').val('')
                        $('#genre').val('')
                        init();//rileggo tutto da db e rigrafico
                    }
                }
            );

        }
    </script>
</head>
<body>
    <form onsubmit="salvaPersona(event)">
        <input class="paperino" id="title" placeholder="title"><br/>
        <input id="author" placeholder="author"><br/>
        <select id="genre" >
            <option value="">GENRE</option>
            <option value="HORROR">HORROR</option>
            <option value="FANTASY">FANTASY</option>
            <option value="THRILLER">THRILLER</option>
            <option value="DRAMA">DRAMA</option>
            <option value="ROMANCE">ROMANCE</option>
            <option value="COMEDY">COMEDY</option>
            <option value="HISTORY">HISTORY</option>
        </select><br/>
        <input type="submit" value="save"><br/>
    </form><br/>

    <div id="libri"></div>
    <button class="paperino" onclick="stampaBooks()">stampa in console </button>
    <script>init()</script>
</body>
</html>